* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* google fonts */

/* Shared styles  */
/* Manrope fonts  */

.manrope-bold {
  color: #d9dbe1;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 14px;
  font-style: normal;
}
/* poppins font  */
.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}
/* roboto font */
.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
/* inter font */
.inter-regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.inter-bold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.flex {
  display: flex;
}
.center {
  text-align: center;
}
.max-width {
  max-width: 1200px;
  margin: 0 auto;
}
.btn-primary {
  padding: 10px 25px;
  border: none;
  border-radius: 40px;
  background-color: #e02c6d;
  color: white;
  text-align: center;
  font-size: 16px;
}

/* navbar section */
.nav-container {
  padding: 85px 0px;
  justify-content: space-between;
  align-items: center;
}
.nav-title {
  font-size: 24px;
  color: #3a3a3a;
}
.nav-items {
  gap: 34px;
}
.nav-item a {
  text-decoration: none;
  color: #3a3a3a;
  font-size: 16px;
}
.nav-items .nav-item {
  list-style: none;
}
.nav-icon {
  align-items: center;
  gap: 34px;
}
/* header area */
.header-container {
  margin-bottom: 70px;
}
.header-image {
  background-image: url(../images/Circle\ design.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.header-title {
  font-size: 52px;
  color: #3a3a3a;
}
.header-description {
  color: #3a3a3a;
  font-size: 16px;
  width: 500px;
  padding: 16px 0px;
}
.header-content {
  padding: 100px 0px;
}
.header-image {
  padding: 20px;
}









@media screen and (max-width: 576px) {
  .nav-container {
    flex-direction: column;
  }
  .nav-title{
    margin-bottom: 20px;
  }
  .header-container{
    flex-direction: column-reverse;
  }
  .header-content{
    text-align: center;
  }
  .header-description{
    width: 450px;
    margin: 0 auto;
  }
  .header-image{
    padding: 30px;
  }
}
